:root{
  --statusOptionComplete: rgba(144,238,144, 1);
  --statusOptionProgress: rgba(255,160,122, 1);
  --statusOptionPending: rgba(255,126,126, 1);
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/*ESTILOS DEL HEADER*/
.headerContainer{
  width: 80%;
  margin: auto;
  display: flex;
}

.header-title{
  width: 75%;
}

.headerLinks{
  width: 20%;
  font-size: small;
}



/*ESTILOS GENERALES*/
.generalContainer{
  width: 90%;
  margin: 5% auto;
  display: grid;
}

.componentsContainer{
  display: flex;
}

.generalTitle{
  width: 100%;
}


.filtersContainer{
  width: 20%;
  margin-left: 2%;
}

.titleFilters{
  font-size: 3vh;
  margin: 0%;
}

.titleLineDecorative{
  display: block; 
  border-top: 2px solid black;
  margin: 10px 0;
  width: 100%;
}

.tableContainer{
  width: 80%;
}

/*AQUI SE ACABAN LOS ESTILOS GENERALES*/
